* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.btn {
    width: auto;
    height: auto;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    border-radius: 100px;
    
}

a.google {
    background-color: #f87e68;
    color: black;
}

a.fb {
    background-color: #3930e8;
    color: white;
}