body {
  margin: 0;
  height: 100vh;
  background-color: #f2f4f8;
  font-family: Arial, sans-serif;
}

.tarjeta-azul {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: linear-gradient(to top, #112976, #2563eb); /* Degradado azul */
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 
}

.tarjeta-azul h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.tarjeta-azul p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.4em;
}

.tarjeta-azul button {
  position: absolute;
  background-color: #e33e59;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 101px;
  cursor: pointer;
  font-weight: bold;
  bottom: 20px;
  right: 20px;

}

.tarjeta-azul button:hover {
  background-color: #e0e7ff;
}
